<%- include('../layouts/header.ejs')%>



  <body class="g-sidenav-show bg-gray-200 ">
    <!-- aside -->
    <aside
      class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
      id="sidenav-main">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
          aria-hidden="true" id="iconSidenav"></i>
          <a class="navbar-brand m-0" 
          target="_blank">
          <img src="/img/favicon.png" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bold text-white">Thrift Kicks</span>
        </a>
      </div>
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/dashboard">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
               <i class="fa-solid fa-store"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/salesReport">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-file"></i>
              </div>
              <span class="nav-link-text ms-1">Sales Report</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/users">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/orders">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">receipt_long</i>
              </div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/products">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">view_in_ar</i>
              </div>
              <span class="nav-link-text ms-1">Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/categories">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
               <i class="fa-solid fa-list"></i>
              </div>
              <span class="nav-link-text ms-1">Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white active bg-gradient-secondary " href="/admin/coupons">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-ticket"></i>
              </div>
              <span class="nav-link-text ms-1">Coupons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/banners">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-newspaper"></i>
              </div>
              <span class="nav-link-text ms-1">Banners</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/offers">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-percent"></i>
              </div>
              <span class="nav-link-text ms-1">Offers</span>
            </a>
          </li>
          <hr class="horizontal light mt-0 mb-2">

          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/logout">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">assignment</i>
              </div>
              <span class="nav-link-text ms-1">Logout</span>
            </a>
          </li>
        </ul>
      </div>

    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <div class="mt-n3">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
          data-scroll="true">
          <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Coupons</li>
              </ol>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
              <div class="ms-md-auto pe-md-3 d-flex align-items-center">

              </div>
              <ul class="navbar-nav  justify-content-end">

                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                    <div class="sidenav-toggler-inner">
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                    </div>
                  </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0">
                    <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                  </a>
                </li>
                <li class="nav-item dropdown pe-2 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell cursor-pointer"></i>
                  </a>
                  <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">


                  </ul>
                </li>
                <li class="nav-item d-flex align-items-center">
                  <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Sign In</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class=" my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-secondary shadow-dark border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Coupons</h6>
                </div>

                <a href="/admin/coupons/addCoupon"><button class="btn btn-outline-info btn-lg my-4">
                    Add Coupon</button></a>

              </div>

              <div class="border-radius-xl mx-2 mx-md-3 position-relative"
                style="background-image: url('..asssets/img/bg-pricing.jpg'); background-size: cover;">

                <main class="main-content border-radius-lg h-100">
                  <div class="container-fluid">

                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th class="text-dark p-4">Coupon Code</th>
                          <th class="text-dark p-4">Name</th>
                          <th class="text-dark p-4">Discount Amount</th>
                          <th class="text-dark p-4">Minimum Order</th>
                          <th class="text-dark p-4">Valid From</th>
                          <th class="text-dark p-4">Valid To</th>
                          <th class="text-dark p-4">Action</th>
                        </tr>
                      </thead>
                      <tbody>

                        <% if(typeof coupons !=='undefined' ){ coupons.forEach(coupon=>{ %>
                          <tr class="coupon-container" data-coupId="<%= coupon._id %>">
                            <td class="text-dark text-md text-bold p-4">
                              <%= coupon.code %>
                            </td>
                            <td class="text-dark text-md p-4">
                              <%= coupon.couponName %>
                            </td>
                            <td class="text-dark text-md p-4">
                              <span class="ml-4">Rs <%= coupon.discount_amount %></span>
                            </td>
                            <td class="text-dark text-md p-4">
                              <span class="ml-4">Rs <%= coupon.minimumSpend %></span>
                            </td>
                            <td class="text-dark text-md p-4">
                              <%= coupon.validFrom.toString().slice(0,15) %>
                            </td>
                            <td class="text-dark text-md p-4">
                              <%= coupon.validTo.toString().slice(0,15) %>
                            </td>
                            <td class="text-dark text-md p-4">
                              <button data-couponid="<%= coupon._id %>" class="btn-danger deleteCouponBtn">
                                Delete</button>

                            </td>



                          </tr>
                          <% }) %>

                            <% }else { %>
                              <tr>
                                <td colspan="6">No Coupons Found</td>
                              </tr>
                              <% } %>

                      </tbody>
                    </table>


                  </div>
              </div>
            </div>


            <div class="section min-vh-85 position-relative transform-scale-0 transform-scale-md-7">

            </div>
    </main>
    </div>


 


    <script>
      const deleteCouponBtns = document.querySelectorAll('.deleteCouponBtn')

      deleteCouponBtns.forEach((btn) => {
        btn.addEventListener('click', ()=> deleteCouponFn(btn));
        
      });

      async function deleteCouponFn(btn){
        try {
          const couponId = btn.dataset.couponid;
          const divToRemove = document.querySelector(`.coupon-container[data-coupId="${couponId}"]`);

          Swal.fire({
          title: "Are you sure you want to delete this coupon?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, Delete Coupon !"
        }).then(async (result) => {
          if (result.isConfirmed) {

          const response = await fetch('/admin/coupon/delete',{
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ couponId })
          })
          if (!response.ok) {
                throw new Error("Failed to fetch data");
            }
            const data = await response.json()
            if (data.message) { 
              Swal.fire(data.message);
              divToRemove.remove()
              
            }

        }
        
      })

          

        } catch (error) {
          console.log("couldnt delete coupon");
        }
      }
    </script>

    <%- include('../layouts/footer.ejs')%>