<%- include('../layouts/header.ejs')%>






<div class="mt-n3">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a class="text-dark" href="/admin/products">Products</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="addProduct">Edit-Product</li>
        </ol>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
         
        </div>
        <ul class="navbar-nav  justify-content-end">
         
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell cursor-pointer"></i>
            </a>
            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              
              
              
            </ul>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Sign In</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
</div>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-secondary shadow-dark border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Edit Product</h6>
          </div>
        </div>




<div class="container mt-5">
  <h1>Edit Product</h1>
  <form action="" method="post" enctype="multipart/form-data">
      <!-- Product Name -->
      <div class="form-group">
          <label for="productName">Product Name:</label>
          <input type="text" class="form-control bg-light txt-ind" id="productName" name="productName" value="<%= products.productName%>" required>
      </div>

      <!-- Description -->
      <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control bg-light txt-ind p-3" id="description" name="description" rows="3" required><%= products.description %> </textarea>
      </div>

      <!-- Size-->
      <label for="size">Select Size:</label>
    <select id="size" name="size" class="form-control bg-light txt-ind" value="<%= products.size %>">
    <option value="UK-4" <% if (products.size === "UK-4") { %>selected<% } %>>UK-4</option>
    <option value="UK-5" <% if (products.size === "UK-5") { %>selected<% } %>>UK-5</option>
    <option value="UK-5.5" <% if (products.size === "UK-5.5") { %>selected<% } %>">UK-5.5</option>
    <option value="UK-6.5" <% if (products.size === "UK-6.5") { %>selected<% } %>">UK-6.5</option>
    <option value="UK-7.5" <% if (products.size === "UK-7.5") { %>selected<% } %>">UK-7.5</option>
    <option value="UK-8" <% if (products.size === "UK-8") { %>selected<% } %>>UK-8</option>
    <option value="UK-9" <% if (products.size === "UK-9") { %>selected<% } %>>UK-9</option>
    <option value="UK-9.5" <% if (products.size === "UK-9.5") { %>selected<% } %>>UK-9.5</option>
    <option value="UK-10" <% if (products.size === "UK-10") { %>selected<% } %>>UK-10</option>    
    </select>

      <!--Actual Price -->
      <div class="form-group">
          <label for="actualPrice">Price:</label>
          <input type="number" class="form-control bg-light txt-ind" id="actualPrice" name="actualPrice" value="<%= products.actualPrice %>" required>
      </div>

       <!-- stock detail -->
       <div class="form-group">
        <label for="stock">Stock Details:</label>
        <input type="number" class="form-control bg-light txt-ind" id="stock" name="stock" value="<%= products.stock %>" required>
      </div>

      <!-- Image Upload -->

      <div class="form-group">
        <img class="product-view images" src="<%= products.image.path1%>" style="cursor:pointer;">
        <img class="product-view images" src="<%= products.image.path2%>" style="cursor:pointer;">
        <img class="product-view images" src="<%= products.image.path3%>" style="cursor:pointer;">
        
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="image" name="image" accept="image/*" multiple
            >
          <label class="custom-file-label" for="image">Change Image</label>
        </div>
      </div>
    



      <!-- Category -->
      
      <input type="hidden" name="id" value="<%= products._id %>" required>
      <!-- Submit Button -->
      <button type="submit" class="btn btn-dark">Update Product</button>
  </form>


    
</div>

<script>
  //for loading image
const images = document.querySelectorAll('.images').forEach((img)=>[
  img.addEventListener('click',()=>{
    
    const imageUrl = img.src;

    // Show the clicked image in SweetAlert modal
    Swal.fire({
      imageUrl: imageUrl,
      imageAlt: 'Clicked Image',
      confirmButtonText: 'Close',
    });
  })

])

</script>




<%- include('../layouts/footer.ejs')%>