<%- include('../layouts/header.ejs')%>

  <style>
    .custom-swal-modal-container {
      max-width: 800px;
      /* Adjust the max-width to your desired size */
    }
  </style>


  <body class="g-sidenav-show bg-gray-200 ">
    <!-- aside -->
    <aside
      class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
      id="sidenav-main">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
          aria-hidden="true" id="iconSidenav"></i>
          <a class="navbar-brand m-0" 
          target="_blank">
          <img src="/img/favicon.png" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bold text-white">Thrift Kicks</span>
        </a>
      </div>
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/dashboard">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-store"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/salesReport">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-file"></i>
              </div>
              <span class="nav-link-text ms-1">Sales Report</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/users">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/orders">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">receipt_long</i>
              </div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white active bg-gradient-secondary" href="/admin/products">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">view_in_ar</i>
              </div>
              <span class="nav-link-text ms-1">Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/categories">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-list"></i>
              </div>
              <span class="nav-link-text ms-1">Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/coupons">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-ticket"></i>
              </div>
              <span class="nav-link-text ms-1">Coupons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/banners">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-newspaper"></i>
              </div>
              <span class="nav-link-text ms-1">Banners</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/offers">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-percent"></i>
              </div>
              <span class="nav-link-text ms-1">Offers</span>
            </a>
          </li>
          <hr class="horizontal light mt-0 mb-2">

          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/logout">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">assignment</i>
              </div>
              <span class="nav-link-text ms-1">Logout</span>
            </a>
          </li>
        </ul>
      </div>

    </aside>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <div class="">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
          data-scroll="true">
          <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Products</li>
              </ol>
              <h6 class="font-weight-bolder mb-0">Products</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
              <div class="ms-md-auto pe-md-3 d-flex align-items-center">

              </div>
              <ul class="navbar-nav  justify-content-end">

                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                    <div class="sidenav-toggler-inner">
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                    </div>
                  </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0">
                    <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                  </a>
                </li>
                <li class="nav-item dropdown pe-2 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell cursor-pointer"></i>
                  </a>
                  <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">



                  </ul>
                </li>
                <li class="nav-item d-flex align-items-center">
                  <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Sign In</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="my-4"> <!--card-->
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-secondary shadow-dark border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Products</h6>
                </div>
                <a href="/admin/products/addProduct"><button class="btn btn-outline-info btn-lg mr-5 my-4">Add New
                    Product</button></a>

              </div>



              <div class="border-radius-xl mx-2 mx-md-3 position-relative"
                style="background-image: url('../assets/img/vr-bg.jpg'); background-size: cover;">


                <div class="container-fluid py-4">
                  <div class="row">
                    <div class="col-12">
                      <form class="form-inline my-2 my-lg-0">
                        <div class="input-group border" style="height: 41px;">
                          <input class="form-control ms-5" type="text" placeholder="Search Products" name="search"
                            style="width: 900px;">
                          <div class="input-group-append">
                            <button class="btn btn-dark " type="submit">Search</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>


                <main class="main-content border-radius-lg h-100">
                  <div class="container-fluid">
                    <table class="table table-bordered table-striped table-hover">
                      <tr>
                        <th class="text-dark text-lg text-bold p-4" >Product Name</th>
                        <th class="text-dark text-lg text-bold p-4">Price</th>
                        <th class="text-dark text-lg text-bold p-4">Category</th>
                        <th class="text-dark text-lg text-bold p-4" style="max-width: 80px;">Stock</th>
                        <th class="text-dark text-lg text-bold p-4" style="min-width: 100px;">Image</th>
                        <th class="text-dark text-lg text-bold p-4">Actions</th>
                      </tr>
                      <% if(products.length> 0){ for(let i=0; i < products.length; i++){ %>
                          <tr>
                            <td class="text-dark p-4">
                              <%= products[i]?.productName %>

                                <% const hasOffers=products[i]?.offers?.length; const
                                  offerName=products[i]?.offers[0]?.offerName; %>

                                  <div class="offer-alert-div">
                                    <% if(hasOffers){ %>
                                      <p class="mt-3 text-bold text-dark custom-background ">
                                        <%= hasOffers ? ' [ On ' + offerName + ']' : '' %>
                                      </p>
                                      <button class="btn LSpacing remOfferBtn" style="background-color: aliceblue;"
                                        data-product-id="<%= products[i]._id %>"> Remove Offer</button>
                                      <% } %>
                                  </div>
                            </td>

                            <% if(products[i].actualPrice > products[i].offerPrice){  %>
                              <td class="text-dark p-4" >
                               <span class="text-danger" style='text-decoration: line-through;'> ₹ <%= products[i].actualPrice %> </span> 
                               <p class="text-bold mt-4 text-lg "> ₹ <%= products[i].offerPrice %> </p> 
                            
                              </td>
                            
                            <%  }else{ %>
                              <td class="text-dark p-4">
                                ₹ <%= products[i].actualPrice %>
                              </td>
                              <% } %>

                            <td class="text-dark p-4">
                              <%= products[i].category_id.categoryName %>
                            </td>
                            <td class="text-dark p-4">
                              <%= products[i].stock %>
                            </td>
                            <td class="text-dark p-4"><img class="product-view images" style="min-width: 100px;"
                                src="<%= products[i].image.path1 %>" style="cursor:pointer;"></td>


                            <td class="p-5">
                              <a href="/admin/products/editproduct?id=<%=products[i]._id %>"><button
                                  class="btn btn-dark">Edit</button></a>


                              <button data-product-id="<%= products[i]._id %>"
                                data-state="<% if(products[i].is_listed === true){%>listed<%} else {%>unlisted<%} %>"
                                class="btn unlistButton custom-button
                      <%  if(products[i].is_listed === true){%> btn-danger <% } else { %> btn-success <% } %> mx-3 
                      ">
                                <% if(products[i].is_listed===true){%> Unlist <% } else { %> List <% } %>
                              </button>
                              <button class="btn btn-dark applyOfferBtn" data-product-id="<%= products[i]._id %>">
                                Add offer
                              </button>



                            </td>
                          </tr>

                          <% } } else { %>
                            <tr>
                              <td colspan="6"><p class="d-flex justify-content-center display-6 mt-5 pt-5">No Products Found </p></td>
                            </tr>
                            <% } %>
                    </table>
                  </div>
              </div>
            </div>


            <div class="section min-vh-85 position-relative transform-scale-0 transform-scale-md-7">

            </div>
    </main>
    </div>


    <div class="fixed-plugin">
      <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="material-icons py-2">settings</i>
      </a>
      <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
          <div class="float-start">
            <h5 class="mt-3 mb-0">Material UI Configurator</h5>
            <p>See our dashboard options.</p>
          </div>
          <div class="float-end mt-4">
            <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
              <i class="material-icons">clear</i>
            </button>
          </div>
          <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
          <!-- Sidebar Backgrounds -->
          <div>
            <h6 class="mb-0">Sidebar Colors</h6>
          </div>
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors my-2 text-start">
              <span class="badge filter bg-gradient-primary active" data-color="primary"
                onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
            </div>
          </a>
          <!-- Sidenav Type -->
          <div class="mt-3">
            <h6 class="mb-0">Sidenav Type</h6>
            <p class="text-sm">Choose between 2 different sidenav types.</p>
          </div>
          <div class="d-flex">
            <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark"
              onclick="sidebarType(this)">Dark</button>
            <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent"
              onclick="sidebarType(this)">Transparent</button>
            <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white"
              onclick="sidebarType(this)">White</button>
          </div>
          <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
          <!-- Navbar Fixed -->
          <div class="mt-3 d-flex">
            <h6 class="mb-0">Navbar Fixed</h6>
            <div class="form-check form-switch ps-0 ms-auto my-auto">
              <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
            </div>
          </div>
          <hr class="horizontal dark my-3">
          <div class="mt-2 d-flex">
            <h6 class="mb-0">Light / Dark</h6>
            <div class="form-check form-switch ps-0 ms-auto my-auto">
              <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
            </div>
          </div>
          <hr class="horizontal dark my-sm-4">
          <a class="btn bg-gradient-info w-100" href="https://www.creative-tim.com/product/material-dashboard-pro">Free
            Download</a>
          <a class="btn btn-outline-dark w-100"
            href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-dashboard">View
            documentation</a>
          <div class="w-100 text-center">
            <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard"
              data-icon="octicon-star" data-size="large" data-show-count="true"
              aria-label="Star creativetimofficial/material-dashboard on GitHub">Star</a>
            <h6 class="mt-3">Thank you for sharing!</h6>
            <a href="https://twitter.com/intent/tweet?text=Check%20Material%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard"
              class="btn btn-dark mb-0 me-2" target="_blank">
              <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/material-dashboard"
              class="btn btn-dark mb-0 me-2" target="_blank">
              <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
            </a>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.querySelectorAll(".unlistButton").forEach(function (button) {
        button.addEventListener("click", function () {
          const prodId = this.getAttribute("data-product-id");
          const currentState = this.getAttribute("data-state");
          let url;
          if (currentState === "listed") {
            url = `/admin/api/unlistProd/${prodId}`;
          } else {
            url = `/admin/api/listProd/${prodId}`;
          }

          // Send an AJAX request to toggle the product state.
          fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              if (response.ok) {
                return response.json();
              } else {
                throw new Error("Failed to toggle product state");
              }
            })
            .then((data) => {
              console.log(data.message);
              if (currentState === "listed") {
                this.textContent = "List";
                this.setAttribute("data-state", "unlisted");
                this.classList.remove("btn-danger");
                this.classList.add("btn-success");

                const Toast = Swal.mixin({
                  toast: true,
                  position: "top-end",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                  }
                });
                Toast.fire({
                  icon: "error",
                  title: "Product Unlisted"
                });
              } else {
                this.textContent = "Unlist";
                this.setAttribute("data-state", "listed");
                this.classList.remove("btn-success");
                this.classList.add("btn-danger");

                const Toast = Swal.mixin({
                  toast: true,
                  position: "top-end",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                  }
                });
                Toast.fire({
                  icon: "success",
                  title: "Product Listed"
                });
              }
            })
            .catch((error) => {
              console.error(error);
            });
        });
      });




      // for applying offers

      const applyOfferBtn = document.querySelectorAll('.applyOfferBtn')
      applyOfferBtn.forEach((btn) => {
        btn.addEventListener('click', applyOfferFn)
      })

      async function applyOfferFn() {
        const prodId = this.dataset.productId

        Swal.fire({
          html: `
      <% offers.forEach((offer)=>{  %>

        <p class="bg-dark text-white text-lg p-3 offer-selection" style="height:60px; cursor:pointer;" data-offer-id="<%= offer._id %>"> <%= offer.offerName %> -- <%= offer.offerDiscount %>% Discount </p>

      <% }) %>
  `,

          showCancelButton: true,
          showConfirmButton: false

        });

        const offerSelectionElements = document.querySelectorAll('.offer-selection');

        offerSelectionElements.forEach((element) => {
          element.addEventListener('click', async () => {
            const offerId = element.dataset.offerId

            const response = await fetch('/admin/applyOffer-prod', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ prodId, offerId })

            })
            const data = await response.json()
            if (data) {

              location.reload()

              const Toast = Swal.mixin({
                toast: true,
                position: "center",
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.onmouseenter = Swal.stopTimer;
                  toast.onmouseleave = Swal.resumeTimer;
                }
              });
              Toast.fire({
                icon: "success",
                text: data.message
              });
            }

          })
        });


      }



      //for loading image
      const images = document.querySelectorAll('.images').forEach((img) => [
        img.addEventListener('click', () => {

          const imageUrl = img.src;

          // Show the clicked image in SweetAlert modal
          Swal.fire({
            imageUrl: imageUrl,
            imageAlt: 'Clicked Image',
            confirmButtonText: 'Close',
          });
        })
      ])



      //CODE FOR REMOVING OFFER OF PRODUCT
      const remOfferBtn = document.querySelectorAll('.remOfferBtn')
      remOfferBtn.forEach((btn) => {
        btn.addEventListener('click', async () => {



          Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, remove offer!"
          }).then(async (result) => {
            if (result.isConfirmed) {
          
              const prodId = btn.dataset.productId
          const response = await fetch('/admin/remove-prod-offer', {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ prodId })
          })

          const data = await response.json()
          if (data) {
            btn.parentNode.style.display = 'none'

            const Toast = Swal.mixin({
              toast: true,
              position: "center",
              showConfirmButton: false,
              timer: 1500,
              timerProgressBar: true,

            });
            Toast.fire({
              icon: "success",
              text: data.message
            });
          }

            }

          });

      
        })
      })

    </script>


    <%- include('../layouts/footer.ejs')%>