<%- include('../layouts/header.ejs')%>


  <p> Account</p>
  <p>
    <%= user.name %>
      <%= user.email %>
        <%= user.password %>
          <%= user.name %>
            <%= user.name %>
  </p>
  <a href="/logout"> Logout </a>

  <%- include('../layouts/footer.ejs')%>