<%- include('../layouts/header.ejs')%>



    <!-- Page Preloder -->

    <!-- <div id="preloder">
    <div class="loader"></div>
    </div> -->



    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free , 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <!-- <a href="#">Sign in</a>
                          <a href="#">null</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a class="navbar-brand logo-size" href="/home"><img src="assets/logos/thriftedkicks.png"
                                alt="Thriffy" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li> <a href="#">About Us</a> </li>

                            <% if(typeof user !=='undefined' ) { %>
                                <li><a href="/account">Account</a></li>
                                <% } else { %>
                                    <li><a href="/login">SignIn</a></li>
                                    <% } %>


                                        <li class="active">
                                            <% if(typeof user !=='undefined' ) { %>
                                                <a class="cursor_cart " href="/cart">
                                                    <div class="cart-icon"> <i class="fas fa-shopping-cart"></i> <span
                                                            class="badge" id="badge">
                                                            <%= cart.products.length %>
                                                        </span></div>

                                                </a>
                                                <!-- <span>Cart</span> <span style="vertical-align: -4px;" class="material-symbols-outlined">
                                                    shopping_cart
                                                    </span>  -->
                                                <% } else { %>
                                                    <a class="cartButton active cursor_cart"><span>Cart</span> <span
                                                            style="vertical-align: -4px;"
                                                            class="material-symbols-outlined">
                                                            shopping_cart
                                                        </span></a>
                                                    <% } %>
                                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="assets/icon/search.png" alt="" /></a> -->
                        <a href="/wishlist"><img src="assets/icon/heart.png" alt="" /></a>
                        <span style="vertical-align: -6px;" class="material-symbols-outlined">
                            logout
                        </span>
                        <a class="list-group-item text-bold" href="/logout"> Logout</a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <a href="/shop">Cart</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <h6 class="coupon__code"> Have a coupon? Enter your code here</h6>
            <div class="checkout__form">
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <form action="#">
                            <input id="couponCode" class="text-dark text-lg" type="text" placeholder="Coupon code">
                            <button id="applyCoupon" type="button">Apply</button>
                        </form>
                    </div>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 addressReload">



                            <h6 class="checkout__title">Billing Details</h6>

                            <input type="hidden" name="email" id="email"
                                class="form-control mb-1 text-lg text-bold pl-3" value="<%= user.email %>">


                            <% if(typeof address!=='undefined' && address.length> 0){ %>
                                <form class="small-radio">
                                    <% for(let i=0;i< address.length; i++){ %>
                                        <div class="checkout__input mt-5">
                                            <p>
                                                <%= address[i].fullname %>
                                            </p>
                                            <p>
                                                <%= address[i].mobile %>
                                            </p>
                                            <p>
                                                <%= address[i].houseName %>
                                            </p>
                                            <p>
                                                <%= address[i].city %>
                                            </p>
                                            <p>
                                                <%= address[i].pincode %>
                                            </p>
                                            <p>
                                                <%= address[i].state %>
                                            </p>
                                            <p>
                                                <%= address[i].country %>
                                            </p>
                                            <input type="hidden" value="<%= address[i]._id %> ">

                                            <br>
                                            <label class="custom-radio">
                                                <input type="radio" name="address" value="<%= address[i]._id %>" style="cursor: pointer;">

                                                <p class="mb-3">Choose Address</p>
                                            </label>
                                            <hr class="hrline">


                                        </div>
                                        <% } %>
                                </form>

                                <% } %>


                                    <h4 class="my-5">Add new Address</h4>
                                    <!-- ccccccccccccccccccccccccccccccccccccccccccccccccccccc -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="checkout__input">
                                                <p>Name<span>*</span></p>
                                                <input type="text" name="name" id="name"
                                                    class="form-control text-lg text-bold pl-3" value=""
                                                    placeholder="Name" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checkout__input">
                                        <p>House Name<span>*</span></p>
                                        <input type="text" name="houseName" id="houseName"
                                            class="form-control text-lg text-bold pl-3" value=""
                                            placeholder="House Name" required>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Town/City<span>*</span></p>
                                        <input type="text" name="city" id="city"
                                            class="form-control text-lg text-bold pl-3" value="" placeholder="City"
                                            required>
                                    </div>
                                    <div class="checkout__input">
                                        <p>State<span>*</span></p>
                                        <input type="text" name="state" id="state"
                                            class="form-control text-lg text-bold pl-3" value="" placeholder="State"
                                            required>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Country<span>*</span></p>
                                        <input type="text" name="country" id="country"
                                            class="form-control text-lg text-bold pl-3" value="" placeholder="Country"
                                            required>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Pincode<span>*</span></p>
                                        <input type="number" name="pincode" id="pincode"
                                            class="form-control text-lg text-bold pl-3" value="" placeholder="Pincode"
                                            required>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Mobile<span>*</span></p>
                                                <input type="number" name="mobile" id="mobile"
                                                    class="form-control text-lg text-bold pl-3" value=""
                                                    placeholder="Mobile" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">

                                        </div>
                                    </div>

                                    <button type="button" class="primary-btn" id="addAddressButton">Add
                                        Address</button>
                                    <span id="addressAlert" class="alert alert-success text-white mr-5 mb-4"
                                        style="width:350px; display:none;">
                                        Address Added Successfully
                                    </span>

                        </div>

                        <div class="col-lg-4 col-md-6">
                            <button class="primary-btn mb-5 ml-2" id="viewCoupons">View Coupons</button>
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    <% for(let i=0; i < cart.products.length; i++){%>
                                        <li>0<%=i+1%>.&nbsp;<%=cart.products[i].productId.productName %> <span>₹
                                                        <%=cart.products[i].productId.actualPrice *
                                                            cart.products[i].quantity%>
                                                    </span></li>
                                        <% } %>

                                            <ul class="checkout__total__all" style="min-height: 220px;">
                                                <li>Subtotal <span>₹ <%= totalAmount %></span></li>
                                                <li id="minusAmount" style="display:none;">Coupon Discount <span
                                                        id="targetSpan"></span></li>
                                                <li id="walletMinusLiTag" style="display:none;">Wallet amount <span
                                                        id="walletMinusAmt"></span></li>
                                                <li>Total <span id="totalAmount">₹ <%= totalAmount %></span></li>

                                            </ul>

                                            <input id="hiddenCouponId" type="hidden">
                                            <div class="d-flex">
                                                <!-- <% if( totalAmount < user.wallet.balance ){ %>  -->
                                                    <!-- <% } %> -->
                                            <p class="my-5 text-lg text-bold bg-white p-3">Wallet Balance: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ <span id="walletBalance"><%= user.wallet.balance %></span> <label  for="walletCheck">
                                                Use Wallet Balance
                                                <input class="ml-3 mt-4 walletCheck" type="checkbox" id="walletCheck" style="cursor: pointer;">
                                                <span class="checkmark"></span>
                                            </label> </p>
                                            
                                        </div>
                                            <div style="min-height: 100px;">
                                                <div class="checkout__input__checkbox" id="codDiv">
                                                <label for="cod">
                                                    Cash On delivery
                                                    <input type="radio" id="cod" name="payment" value="COD">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <!-- <div class="checkout__input__checkbox">
                                                <label for="upi">
                                                    UPI
                                                    <input type="radio" id="upi" name="payment" value="UPI">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div> -->
                                            <div class="checkout__input__checkbox" id="netBankingDiv">
                                                <label for="netbanking">
                                                    Net banking
                                                    <input type="radio" id="netbanking" name="payment"
                                                        value="Net Banking">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            </div>
                                            
                                            <button id="placeOrderBtn" type="button" class="site-btn">PLACE
                                                ORDER</button>

                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <span id="placeOrderAlert"
                                    class="alert-success text-white mt-4 text-lg text-center pt-1"
                                    style="width:350px; display:none; border-radius: 5px; height: 40px;">

                                </span>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


    <!-- modal starting -->
    <div class="modal fade" id="loginSignupModal" tabindex="-1" role="dialog" aria-labelledby="loginSignupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 600px">
            <div class="modal-content" style="background-color: #302e2e; color: #fff">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="loginSignupModalLabel">
                        Login or Sign Up
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="color: #fff">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- modal staring -->
                <div class="modal-body text-center">
                    <p style="color: #fff">
                        Welcome to our website! To access Cart and other features, please log
                        in or sign up.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/register" class="btn btn-info">Sign Up</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>

        //constants
        const addAddressBtn = document.getElementById('addAddressButton');
        const placeOrderBtn = document.getElementById('placeOrderBtn')
        const placeOrderAlert = document.getElementById('placeOrderAlert')
        const hiddenCouponId = document.getElementById('hiddenCouponId')



        //events
        addAddressBtn.addEventListener('click', addNewAddress);
        placeOrderBtn.addEventListener('click', placeOrderFn)

        //   functions
        async function addNewAddress() {
            try {
                const emailIp = document.getElementById('email');
                const name = document.getElementById('name').value;
                const houseName = document.getElementById('houseName').value;
                const city = document.getElementById('city').value;
                const state = document.getElementById('state').value;
                const country = document.getElementById('country').value;
                const pincode = document.getElementById('pincode').value;
                const mobile = document.getElementById('mobile').value;
                const email = emailIp.value;
                const response = await fetch(`/addAddress`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, name, houseName, city, state, country, pincode, mobile })
                });

                if (!response.ok) {
                    throw new Error('Failed to fetch data');
                }

                const data = await response.json();
                console.log(data.message);
                if (data.message) {
                    addressAlert.style.display = 'inline'
                    addressAlert.classList.replace('alert-danger', 'alert-success')
                    addressAlert.textContent = data.message
                    setTimeout(() => {
                        addressAlert.style.display = 'none';
                    }, 1000);
                    setTimeout(() => {
                        location.reload();
                    }, 1000)
                }


            } catch (error) {
                console.log("could not add address");
            }
        }

        

        //place order function
        async function placeOrderFn() {
            try {
                let paymentSelected;
                let addressSelected;
                let paymentOptions = Array.from(document.getElementsByName("payment"))  //chnge var
                let addressIds = Array.from(document.getElementsByName('address'))      //chnge var
                let couponId = hiddenCouponId.value
                const walletCheckedStatus = document.querySelector('.walletCheck').checked

                
                
                

                addressIds.forEach(function (option) {
                    if (option.checked) {
                        addressSelected = option.value;
                    }
                })

                paymentOptions.forEach(function (option) {
                    if (option.checked) {
                        paymentSelected = option.value;
                    }
                });


                if (typeof addressSelected === 'undefined') {
                
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "center",
                        showConfirmButton: false,
                        timer: 1500,

                        });
                        Toast.fire({
                        icon: "error",
                        title: 'Choose an address'
                        });
                    return
                }

                if (typeof paymentSelected === 'undefined') {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "center",
                        showConfirmButton: false,
                        timer: 1500,

                        });
                        Toast.fire({
                        icon: "error",
                        title: 'Choose a Payment Method'
                        });
                        return
                }

                const response = await fetch(`/checkout`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ paymentSelected, addressSelected, couponId ,walletCheckedStatus})
                });

                if (!response.ok) {
                    throw new Error('Failed to fetch data');
                }

                const data = await response.json();
                console.log(data.message);
                if (data.message) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: data.message,
                        showConfirmButton: false,

                    });

                    setTimeout(() => {
                        window.location.href = '/orderPlaced';
                    }, 2000)
                } else {
        
                    razorpayPayment(data.response , data.userData)
                }

            } catch (error) {
                console.log(error.message);
            }
        }

        function razorpayPayment(order , userData) {
        console.log(userData);
            var options = {
                "key": "rzp_test_hrcgmUAQIlTJWz",
                "amount": order.amount, 
                "currency": "INR",
                "name": "Thrift Kicks",
                "description": "Test Transaction",
                "order_id": order.id,
                "handler": function (response) {

                verifyPayment(response, order);
                
                },
                "prefill": {
                    "name": userData.firstname+" "+userData.lastname,
                    "email": userData.email,
                    "contact": userData.mobile
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
    
            var rzp1 = new Razorpay(options)
            rzp1.open()
            
        }
    
    

        async function verifyPayment(payment, order) {
        
            try {
                const response = await fetch('/verify_payment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ payment, order }),
                });

                if (!response.ok) {
                    throw new Error(`Error: ${response.status} - ${response.statusText}`);
                }

                const responseData =  await response.json();
                if(responseData.status){
                    window.location.href = '/orderPlaced';
                }else{
                    alert('payment failed')
                }

            } catch (error) {
                console.error('Error during verification:', error);
                
            }
        }




        //apply coupon code
        const applyCoupon = document.getElementById('applyCoupon')
        const couponCodeElem = document.getElementById('couponCode')
        const totalAmount = document.getElementById('totalAmount')
        const minusAmount = document.getElementById('minusAmount')

        applyCoupon.addEventListener('click', applyCouponFn)



        async function applyCouponFn() {
            const couponCode = couponCodeElem.value
            console.log("coupon", couponCode);
            const response = await fetch('/applyCoupon', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ couponCode }),
            })
            if (!response.ok) {
                throw new Error("Failed to fetch data");
            }
            const data = await response.json()
            if (data.noCoupon) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: data.noCoupon,
                });
            }
            if (data.validity) {
                Swal.fire({
                    text: data.validity,
                });
            }
            if (data.message) {
                Swal.fire({
                    text: data.message,
                });
            }
            if (data.discount_amount) {
                const couponId = data.couponId
                hiddenCouponId.value = couponId

                //checking if user used wallet
                let walletMinusAmt = document.getElementById('walletMinusAmt').textContent.slice(4)
                if(walletMinusAmt === ''){
                    walletMinusAmt = 0
                }
                
                totalAmtToShow = data.discount_amount - parseInt(walletMinusAmt)
                totalAmount.textContent = "₹ " + totalAmtToShow
                minusAmount.style.display = 'inline'
                minusAmount.querySelector('#targetSpan').textContent = '- ₹ ' + data.reductionAmount
                Swal.fire({
                    text: 'Coupon applied successfully',
                });
            }
        }



        //viewing coupons
        const viewCoupons = document.getElementById('viewCoupons')
        viewCoupons.addEventListener('click',()=>{
            
            Swal.fire({
                html: `

                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th>Coupon Code</th>
                        <th>Minimum Spend</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <% coupons.forEach((coupon) => { %>
                        <tr>
                            <td><%= coupon.code %></td>
                            <td class=""text-bold">Amount over <%= coupon.minimumSpend %></td>
                            <td><button class="btn copyBtn text-white" style="border-radius:5px; background-color:black;" data-code="<%= coupon.code %>">Copy</button></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>

                        `,
            });
            const copyBtn = document.querySelectorAll('.copyBtn')
            copyBtn.forEach((btn)=>{
            btn.addEventListener('click',()=>{
                
                contentToCopy = btn.dataset.code
                const tempInput = document.createElement('input');
                tempInput.value = contentToCopy;

                // adding the input element to  docmnt
                document.body.appendChild(tempInput);

                // Selecting text in  input element
                tempInput.select();
                tempInput.setSelectionRange(0, 99999); 

               //copy command
                document.execCommand('copy');

                // Removing  temp input element
                document.body.removeChild(tempInput);

                const Toast = Swal.mixin({
                    toast: true,
                    position: "top",
                    showConfirmButton: false,
                    timer: 3000,
                    didOpen: (toast) => {
                      toast.onmouseenter = Swal.stopTimer;
                      toast.onmouseleave = Swal.resumeTimer;
                    }
                  });
                  Toast.fire({
                    icon: "success",
                    title: 'Coupon Code Copied !'
                  });
                
                
            })
        })
        })


        // using wallet balance
        const totalAmtValue = parseInt(totalAmount.textContent.slice(2))
        const walletBalanceElem = document.getElementById('walletBalance')
        const walletBalanceAmount = parseInt(walletBalance.textContent)
        const walletCheckbox = document.querySelector('.walletCheck')
        const walletMinusAmt = document.getElementById('walletMinusAmt')
        const netBankingDiv = document.getElementById('netBankingDiv')
        const codDiv = document.getElementById('codDiv')

        const ifCouponApplied = document.getElementById('minusAmount')
        if(ifCouponApplied.style.display === 'inline'){
           const minusCoupon = ifCouponApplied.textContent
        }

        const walletMinusLiTag = document.getElementById('walletMinusLiTag')
        
        walletCheckbox.addEventListener('click',applyWalletAmt)
        
        async function applyWalletAmt(){
            // alert(ifCouponApplied.querySelector('#targetSpan').textContent)
            let couponMinus = ifCouponApplied.querySelector('#targetSpan').textContent.slice(4) 
            if(couponMinus === ""){
                couponMinus = 0;
            }            
            if(this.checked){
                if(totalAmtValue > walletBalanceAmount){
                    const afterWalletMinus = totalAmtValue - walletBalanceAmount - couponMinus
                    totalAmount.textContent = "₹ " + afterWalletMinus
                    walletBalanceElem.textContent = 0;
                    walletMinusLiTag.style.display = 'block'
                    walletMinusAmt.textContent = '- ₹ '+walletBalanceAmount
                    
                }else{
                    const afterWalletMinus = totalAmtValue - walletBalanceAmount
                    totalAmount.textContent = "₹ " + 0
                    netBankingDiv.style.display = 'none'
                    // codDiv.style.display = 'none'
                    walletMinusLiTag.style.display = 'inline'
                    walletBalanceElem.textContent = walletBalanceAmount-totalAmtValue;
                    walletMinusAmt.textContent = '- ₹ '+totalAmtValue

                }
            }else{
                //if unchecking wallet balance amount
                walletMinusLiTag.style.display = 'none'
                netBankingDiv.style.display = 'inline'
                codDiv.style.display = 'inline'
                totalAmount.textContent = "₹ " + totalAmtValue 
                walletBalanceElem.textContent = walletBalanceAmount
            }
            
        }
 
        
    </script>


    <%- include('../layouts/footer.ejs')%>