<%- include('../layouts/header.ejs')%>



    <!-- Page Preloder -->
    <!-- <div id="preloder">
  <div class="loader"></div>
</div> -->



    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free , 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <!-- <a href="#">Sign in</a>
                          <a href="#">null</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a class="navbar-brand logo-size" href="/home"><img src="assets/logos/thriftedkicks.png"
                                alt="Thriffy" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li> <a href="#">About Us</a> </li>

                            <% if(typeof user !=='undefined' ) { %>
                                <li><a href="/account">Account</a></li>
                                <% } else { %>
                                    <li><a href="/login">SignIn</a></li>
                                    <% } %>


                                        <li class="active">
                                            <% if(typeof user !=='undefined' ) { %>
                                                <a id="" class="cursor_cart" href="/cart">Cart <img
                                                        src="assets/icon/cart.png" alt="" /></a>
                                                <% } else { %>
                                                    <a class="cartButton cursor_cart">Cart <img
                                                            src="assets/icon/cart.png" alt="" /></a>
                                                    <% } %>
                                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="assets/icon/search.png" alt="" /></a>
                        <a href="/wishlist"><img src="assets/icon/heart.png" alt="" /></a>
                        <a href=""><img src="assets/icon/cart.png" alt="" /> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                                    here</a> to enter your code</h6>
                            <h6 class="checkout__title">Billing Details</h6>

                            <input type="hidden" name="email" id="email"
                                class="form-control mb-1 text-lg text-bold pl-3" value="<%= user.email %>">

                            <div class="checkout__input">

                                <% if(typeof address!=='undefined' && address.length> 0){

                                    for(let i=0;i< address.length; i++){ %>


                                        <p>
                                            <%= address[i].fullname %>
                                        </p>
                                        <p>
                                            <%= address[i].mobile %>
                                        </p>
                                        <p>
                                            <%= address[i].houseName %>
                                        </p>
                                        <p>
                                            <%= address[i].city %>
                                        </p>
                                        <p>
                                            <%= address[i].pincode %>
                                        </p>
                                        <p>
                                            <%= address[i].state %>
                                        </p>
                                        <p>
                                            <%= address[i].country %>
                                        </p>

                                        <div class="custom-control custom-checkbox custom-checkbox-lg mt-4">
                                            <input type="checkbox" class="custom-control-input" id="customCheckbox"
                                                name="customCheckbox">
                                            <label class="custom-control-label text-lg" for="customCheckbox">Choose the
                                                existing address</label>
                                        </div>

                                        <% } } %>

                            </div>
                            <h4 class="my-5">Add new Address</h4>
                            <!-- ccccccccccccccccccccccccccccccccccccccccccccccccccccc -->
                            <form class="address-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="checkout__input">
                                            <p>Name<span>*</span></p>
                                            <input type="text" placeholder="Name" class="checkout__input__add"
                                                name="name" id="name">
                                        </div>
                                    </div>
                                </div>

                                <div class="checkout__input">
                                    <p>Address<span>*</span></p>
                                    <input type="text" placeholder="House Name" class="checkout__input__add"
                                        name="houseName" id="houseName">
                                </div>
                                <div class="checkout__input">
                                    <p>Town/City<span>*</span></p>
                                    <input type="text" placeholder="City" name="city" id="city">
                                </div>
                                <div class="checkout__input">
                                    <p>State<span>*</span></p>
                                    <input type="text" placeholder="State" name="state" id="state">
                                </div>
                                <div class="checkout__input">
                                    <p>Country<span>*</span></p>
                                    <input type="text" placeholder="Country" name="country" id="country">
                                </div>
                                <div class="checkout__input">
                                    <p>Postcode<span>*</span></p>
                                    <input type="text" placeholder="Pincode" name="pincode" id="pincode">
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Phone<span>*</span></p>
                                            <input type="text" placeholder="Phone" name="mobile" id="mobile">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                    </div>
                                </div>

                            </form>

                            <button type="button" class="btn btn-dark" id="addAddressButton">Add Address</button>


                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    <% for(let i=0; i < cart.products.length; i++){%>
                                        <li>0<%=i+1%>.&nbsp;<%=cart.products[i].productId.productName %> <span>₹
                                                        <%=cart.products[i].productId.actualPrice *
                                                            cart.products[i].quantity%></span></li>
                                        <% } %>

                                            <ul class="checkout__total__all">
                                                <li>Subtotal <span>₹ <%= totalAmount %></span></li>
                                                <li>Total <span>₹ <%= totalAmount %></span></li>
                                            </ul>

                                            <p>.</p>

                                            <div class="checkout__input__checkbox">
                                                <label for="payment">
                                                    Cash on delivery
                                                    <input type="checkbox" id="payment">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="checkout__input__checkbox">
                                                <label for="paypal">
                                                    UPI
                                                    <input type="checkbox" id="paypal">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="checkout__input__checkbox">
                                                <label for="paypal">
                                                    Net banking
                                                    <input type="checkbox" id="paypal">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>

                                            <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


    <!-- modal starting -->
    <div class="modal fade" id="loginSignupModal" tabindex="-1" role="dialog" aria-labelledby="loginSignupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 600px">
            <div class="modal-content" style="background-color: #302e2e; color: #fff">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="loginSignupModalLabel">
                        Login or Sign Up
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="color: #fff">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- modal staring -->
                <div class="modal-body text-center">
                    <p style="color: #fff">
                        Welcome to our website! To access Cart and other features, please log
                        in or sign up.
                    </p>
                </div>
                <div class="modal-footer">

                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/register" class="btn btn-info">Sign Up</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script>

        //constants
        const addAddressBtn = document.getElementById('addAddressButton');
        const emailIp = document.getElementById('email');
        const name = document.querySelector('#name').value;
        const houseName = document.querySelector('#houseName').value;
        const city = document.querySelector('#city').value;
        const state = document.querySelector('#state').value;
        const country = document.querySelector('#country').value;
        const pincode = document.querySelector('#pincode').value;
        const mobile = document.querySelector('#mobile').value;


        //events
        addAddressBtn.addEventListener('click', addNewAddress);


          //   functions
        async function addNewAddress() {
            try {
                
            const email = emailIp.value;
            const response = await fetch(`/addAddress`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({emailIp,name,houseName,city,state,country,pincode,mobile})
                });

                if (!response.ok) {
                    throw new Error('Failed to fetch data');
                }

                const data = await response.json();
                console.log(data.message);
            

            } catch (error) {
                console.log("could not add address");
            }
            
            
        }


      
        async function updateAddress() {
            try {
                const email = emailIp.value;
                const response = await fetch(`/updateAddress`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(Address),
                });

                if (!response.ok) {
                    throw new Error('Failed to fetch data');
                }

                const data = await response.json();
                console.log(data.message);

                if (data.message) {
                    addAddressBtn.style.display = 'none';
                    location.reload();
                }
            } catch (error) {
                console.log("Address couldn't be updated", error);
            }
        }
    </script>


    <%- include('../layouts/footer.ejs')%>