<%- include('../layouts/header.ejs')%>

  <!-- Header Section Begin -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="header__top__left">

            </div>
          </div>
          <div class="col-lg-6 col-md-5">
            <div class="header__top__right">
              <div class="header__top__links">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="header__logo">
            <a class="navbar-brand logo-size"><img src="assets/logos/thriftedkicks.png" alt="Thriffy" /></a>
          </div>
        </div>


      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
  </header>
  <!-- Header Section End -->


  <div class="container">
    <div class="row otp-container">
     
      
      <span class="text-center text-lg text-dark"> Enter OTP sent to your mail "<%= email %>"</span>

      <div class="col-lg-6 mt-3">

        <form method="post">
          <div class="d-flex justify-content-center">
            
            <input type='text' name='otp' class="otp-holder p-3 txt-ind text-dark" id="otp">
            <input class="otp-button" type="submit">
          </div>
          <input type="hidden" value="<%= email %>" name="email">
          <br>
          <span class="d-flex justify-content-center"> OTP not recieved ?? &nbsp;&nbsp;<a type="submit" href="/resendOtp?"><b>resend
            otp</b> </a></span>
        </form>

      </div>

    </div>
    <br>
    <div class="d-flex justify-content-center">

      <% if(typeof message !=='undefined' ){ %>

        <div class="alert alert-success text-center verif-message align-items-center" role="alert">
          <%= message %> <a href="/login">&nbsp&nbsp <b>Login Here</b></a>
        </div>
      <div class=""></div>  
        <% } %>

          <% if(typeof fmessage !=='undefined' ){ %>

            <div class="alert alert-danger text-center verif-message" role="alert">
              <%= fmessage %>
            </div>
            <% } %>

    </div>


  </div>


  <!-- Js Plugins -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>



  <%- include('../layouts/footer.ejs')%>