<%- include('../layouts/header.ejs')%>

<style>
    @media screen and (max-width: 768px) {
            /* Your styles for smaller screens here */
            .products-container{
                display: none;
            }
            .pagination-container{
                display: none;
            }
        }

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #a09595;
    padding: 15px;
    background-color: #fff;
    z-index: 110;
}

.popup-content {
    max-width: 400px;
    margin: 0 auto;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 50px;

}

</style>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
              <h3 class="LSpacing">Thrift Kicks </h3>  
        </div>
       
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <!-- <a href="#">Sign in</a>
                                <a href="#">null</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a class="navbar-brand logo-size" href="/home"><img src="assets/logos/thriftedkicks.png"
                                alt="Thriffy" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/home">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li> <a href="#">About Us</a> </li>


                            <% if(typeof user !=='undefined' ) { %>
                                <li> <a href="/account">Account</a> </li>

                                <% } else { %>
                                    <li><a href="/login">SignIn</a></li>
                                    <% } %>

                                    <li>
                                        <% if(typeof user !=='undefined' ) { %>
                                            <a class="cursor_cart" href="/cart">
                                                <div class="cart-icon"> <i class="fas fa-shopping-cart"></i>  <span class="badge" id="badge"><%if(typeof cart !=='undefined' && cart?.products?.length > 0){%><%=cart?.products?.length%><%}else{%><%}%></span></div>

                                            </a>
                                            
                                            <% } else { %>
                                                <a class="cartButton cursor_cart"><span>Cart</span> <span style="vertical-align: -4px;" class="material-symbols-outlined">
                                                    shopping_cart
                                                    </span></a>
                                                <% } %>
                                    </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <% if(typeof user !=='undefined' ){ %>
                            <a href="/myOrders">My orders</a>
                            <% } %>

                                <a href="/wishlist"><img src="assets/icon/heart.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

    
    <!-- CCCCCCCCCCLLLLLLLLLLLLLLOOOOOOOOOOOOOOOCCCCCCCCCCCCKKKKKKKKKKKKKK -->
    <!-- <div class="d-flex justify-content-center">
        <input class="txt-ind display-1 bg-dark text-light p-5 m-3 text-bold" id="hour" type="number" style="width: 250px;" readonly> 
        <input class="txt-ind display-1 bg-dark text-light p-5 m-3 text-bold" id="minute" type="number" style="width:250px;" readonly>
        <input class="txt-ind display-1 bg-dark text-light p-5 m-3 text-bold"  id="second" type="number" style="width:250px;" readonly>
    </div> -->
    <!-- CCCCCCCCCCLLLLLLLLLLLLLLOOOOOOOOOOOOOOOCCCCCCCCCCCCKKKKKKKKKKKKKK -->

    <!-- popup banner -->
    <div id="popup-banner" class="popup" style="width: 470px;">
        <div class="popup-content" style="width: 700px;">
            <p class="close d-flex justify-content-end" onclick="closePopup()">&times;</p>
            <br>
            <br>
            <h3 class="LSpacing" style="width: 700px;">Lowest price! Get now</h3>
            <%  let index ,diff =-1;  %>
            <% for(let i = 0 ; i < products.length ; i++){  %>
                <%  if(products[i].actualPrice > products[i].offerPrice){   
                    
                if(products[i].actualPrice - products[i].offerPrice > diff){
                        diff = products[i].actualPrice - products[i].offerPrice
                        index = i
                    }  

                } %>
            <% }
                if(typeof index === 'undefined'){
                    index = 0
                }
                %>

                    <h5 class="d-flex justify-content-center text-danger" style="text-decoration: line-through;">₹ <%= products[index]?.actualPrice %></h5>
                    <h5 class="d-flex justify-content-center text-dark"><%= products[index]?.offers[0]?.offerDiscount %> % Off/-</h4>

                    <h4 class="d-flex justify-content-center text-dark">Now at ₹ <%= products[index]?.offerPrice %></h4>
                
                <a href="/productView?id=<%=products[index]?._id %>">
                    <img class="pl-5 ml-4" src="<%= products[index]?.image.path1 %>" style="height: 250px;">
                    <h4 class="d-flex justify-content-center"><%= products[index]?.productName %></h4>
                </a>

        </div>
    </div>

    <!-- Header Section End -->

    <!-- <div class="container">
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form class="form-inline my-2 my-lg-0">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search Products" name="search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    
    
    <!-- Hero Section Begin -->
    <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide mt-5 mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <% for (let i = 0; i < banner.length; i++) { %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" <%= i === 0 ? 'class="active"' : '' %>></li>
            <% } %>
        </ol>
        
        <div class="carousel-inner">
            <% banner.forEach((ban, index)=> { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <a href="/shop?search=<%= ban.href %>">
                        <img class="d-block w-100" src="<%= ban.imageUrl %>" style="max-height: 600px; width: 100%; object-fit: cover;"
                            alt="Slide <%= index + 1 %>">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="text-white LSpacing">
                            <%= ban.title %>
                        </h3>
                        <p class="text-white">
                            <%= ban.description %>
                        </p>
                    </div>
                </div>
            <% }) %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<img src="<%= banner[0].imageUrl %>" >
<img src="<%= products[0].image.path1 %>" >

<p>
    <%= banner[0].imageUrl %>
</p>
<p>
    <%=  products[0].image.path1 %> %>
</p>

        <!-- Hero Section End -->

        <!-- Carousel -->

        <section class="hero">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <!-- Add an image using an <img> tag -->
                                <img src="<%= products[0]?.image.path1 %>" alt="Your Alt Text">

                                <div class="hero__text">
                                    <h6>Summer Collection</h6>
                                    <h2>Fall - Winter Collections 2030</h2>
                                    <p>A specialist label creating luxury essentials. Ethically crafted with an
                                        unwavering
                                        commitment to exceptional quality.</p>
                                    <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hero__items set-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <!-- Add an image using an <img> tag -->
                                <img src="<%= products[0]?.image.path1 %>" alt="Your Alt Text">

                                <div class="hero__text">
                                    <h6>Summer Collection</h6>
                                    <h2>Fall - Winter Collections 2030</h2>
                                    <p>A specialist label creating luxury essentials. Ethically crafted with an
                                        unwavering
                                        commitment to exceptional quality.</p>
                                    <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Carousel end -->


        <!-- Product Section Start -->
        <div class="container products-container">
            <div class="row">

                <div class="container-fluid">
                    <div class="row">
                        <% if(products.length> 0) {
                            for(let i = 0; i < products.length; i++) { %>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card m-3" style="width: 15rem; height: 26rem;">

                                        
                                        <div class="hoverable">

                                            <% if(products[i]?.offers.length !== 0){  %>
                                            <p class="offerBadge"><%= products[i]?.offers[0]?.offerDiscount %>%&nbsp;</p>
                                            <% } %>

                                            <a href="/productView?id=<%=products[i]._id %>">
                                                <img src="<%= products[i].image.path1 %>" class="card-image"
                                                    onmouseout="unhoverCardImage()">
                                            </a>


                                            <div class="icon wishlistIcon  
                                        <%   if(typeof wishlist !== 'undefined'){  %>
                                            <% let isInWishlist = false; %>
                                            <% for (let j = 0; j < wishlist?.products?.length; j++) {
                                                const x = wishlist?.products[j];
                                                if (x.productId.toString() === products[i]._id.toString()) {
                                                    isInWishlist = true;
                                                    break;
                                                }
                                            } %>
                                            <%= isInWishlist ? 'text-danger' : '' %>" <% } %>

                                                onmouseover="hoverCardImage()" data-prodId="<%= products[i]._id %>" >
                                                    <i class="fa fa-heart heartIcon"></i>

                                                    
                                            </div>
                                            <% let avgStar = 0 
                                            products[i].ratings.forEach( (elem)=>{
                                             avgStar = avgStar + elem.star
                                          })
                                            avgStar = Math.floor(avgStar/products[i].ratings.length)
                                         %>
                                                    <div class="d-flex ml-3 mt-3 iconStar">
                                                        <% for (let j = 0; j < 5; j++) { %>
                                                            <i class="fa-solid fa-star <%= j < avgStar  ? 'text-warning' : 'text-light' %>"></i>
                                                        <% } %>
                                                    </div>

                                        </div>


                                        <div class="card-body" >
                                            <span class="text-center text-bold text-md">
                                                <a href="/productView?id=<%=products[i]._id %>">
                                                    <%= products[i].productName %>
                                                </a>
                                            </span>
                                        

                                            <% if(products[i].actualPrice === products[i].offerPrice){  %>

                                            <p class="text-md text-bold mt-1">₹<%= products[i].actualPrice %>/-</p>

                                                <% }else{ %>
                                                    
                                                    <div class="d-flex justify-content-between">
                                                        <p class="text-md text-bold discounted-price mt-1 text-danger">
                                                            ₹<%= products[i].actualPrice %>/- 
                                                        </p>
                                                        <p class="text-md text-bold mt-1">
                                                            ₹<%= products[i].offerPrice %>/- 
                                                        </p>

                                                    </div>
                                                
                                                    <% } %>

                                            <button data-product-id="<%= products[i]._id %>"
                                                class="btn mt-3 addtocart-button <% if(typeof user !=='undefined'){ %>addtoCartButton  <% }else{%> cartButton <%}%>">Add
                                                to Cart</button>
                                                
                                        </div>
                                    </div>
                                </div>


                                <% } %>
                                    <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination -->
        <div class="container pagination-container">
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <li class="page-item">
                                <a class="page-link pagination" href="?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                </nav>
            </div>
        </div>


        <!-- Product Section End -->


        <!-- Banner Section Begin -->
        <section class="banner spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 offset-lg-4">
                        <div class="banner__item">
                            <div class="banner__item__pic">
                                <img src="assets/banner/banner-1.jpg" alt="" />
                            </div>
                            <div class="banner__item__text">
                                <h2 class="LSpacing">New Thrifted Collections</h2>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="banner__item banner__item--middle">
                            <div class="banner__item__pic">
                                <img src="assets/banner/banner-2.jpg" alt="" />
                            </div>
                            <div class="banner__item__text">
                                <h2 class="LSpacing">Sneakers</h2>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="banner__item banner__item--last">
                            <div class="banner__item__pic">
                                <img src="assets/banner/banner-3.jpg" alt="" />
                            </div>
                            <div class="banner__item__text">
                                <h2 class="LSpacing">Shoes Spree</h2>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End -->

    </div>






    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here....." />
            </form>
        </div>
    </div>
    <!-- Search End -->
    <div class="modal fade" id="loginSignupModal" tabindex="-1" role="dialog" aria-labelledby="loginSignupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 600px">
            <div class="modal-content" style="background-color: #302e2e; color: #fff">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="loginSignupModalLabel">
                        Login or Sign Up
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="color: #fff">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- modal staring -->
                <div class="modal-body text-center">
                    <p style="color: #fff">
                        Welcome to our website! To access Cart and other features, please log
                        in or sign up.
                    </p>
                </div>
                <div class="modal-footer">

                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/register" class="btn btn-info">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div id="chart"></div>

    <div id="chart-container"></div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>


// const hour = document.getElementById('hour')
// const minute= document.getElementById('minute')
// const second = document.getElementById('second')

// setInterval(()=>{
// let date = new Date();
// let Hours = date.getHours();
// let Minutes = date.getMinutes();
// let Seconds = date.getSeconds();

// if(Hours.toString().length == 1){
//     Hours = '0'+Hours
// }
// if(Hours > 12){
//     Hours = Hours - 12
//     if(Hours.toString().length == 1){
//         Hours = '0'+Hours
//     }
    
// }
// if(Minutes.toString().length == 1){
//     Minutes = '0'+Minutes
// }if(Seconds.toString().length == 1){
//     Seconds = '0'+Seconds
// }
//     hour.value = Hours
//     minute.value = Minutes
//     second.value = Seconds
// },1000)

        //constants 
        const badge = document.getElementById('badge')

        document.querySelectorAll(".addtoCartButton").forEach(function (button) {
            button.addEventListener("click", addtoCart)

        })

        async function addtoCart() {
            const prodId = this.getAttribute("data-product-id");
            const response = await fetch(`/api/addtoCart/${prodId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },

            })
            if (!response.ok) {
                throw new Error("Failed to fetch data");
            }
            const data = await response.json()
            if (data.message) {
                Swal.fire({
                    text: data.message,
                });
            }
            console.log(data.message);

            if (data.length) {

                badge.textContent = data.length
                badge.classList.add('jumping')
                setTimeout(() => {
                    badge.classList.remove('jumping')
                }, 500)

            }

        }


        //wishlist functionalities
        function hoverCardImage() {
            document.querySelectorAll('.card-image').forEach((elem) => {
                elem.addEventListener('mouseover', () => {
                    style.filter = 'brightness(80%)'
                })
            })
        }
        function unhoverCardImage() {
            document.querySelector('.card-image').forEach((elem) => {
                elem.addEventListener('mouseover', () => {
                    style.filter = 'brightness(100%)';
                })
            })
        }

        const wishlistIcons = document.querySelectorAll('.wishlistIcon')
        wishlistIcons.forEach((icon) => {
            icon.addEventListener('click', addWishlistFn)
        })

        async function addWishlistFn() {
            try {

                const prodId = this.getAttribute('data-prodId')
                const response = await fetch(`/addtoWishlist`, {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ prodId })

                })
                if (!response.ok) {
                    throw new Error("Failed to fetch data");
                }
                const data = await response.json()
                if (data.message) {
                    this.classList.add('text-danger')
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 1200,
                    });
                    Toast.fire({
                        icon: "success",
                        title: "Product added to wishlist"
                    });
                }
                if (data.remMessage) {
                    this.classList.remove('text-danger')
                    this.style.color = 'white'
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 1200,
                    });
                    Toast.fire({
                        icon: "info",
                        title: "Product removed from wishlist"
                    });

                }
            } catch (error) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: "Center",
                    showConfirmButton: false,
                    timer: 1200,
                });
                Toast.fire({
                    icon: "warning",
                    text: "Login or Signup for adding to wishlist"
                });
            }
        }

        //pagination
        const paginationBtn = document.querySelectorAll('.pagination')
        paginationBtn.forEach((btn) => {
            btn.addEventListener('click', () => {
                btn.classList.color = 'red'
            })
        })


        //Functions for the popup alerts
function showPopup() {
    document.getElementById('popup-banner').style.display = 'block';
    localStorage.setItem('modalShown',true)
}
function closePopup() {
    document.getElementById('popup-banner').style.display = 'none';
}
let cond = localStorage.getItem('modalShown')

if(!cond){
    setTimeout(()=>{
    showPopup()
},4000)
}



    </script>

    <%- include('../layouts/footer.ejs')%>