<%- include('../layouts/header.ejs')%>


 <!-- Page Preloder -->
 <div id="preloder">
    <div class="loader"></div>
  </div>

    <!-- Offcanvas Menu Begin -->
    <!-- <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt="" /></a>
            <a href="#"><img src="img/icon/heart.png" alt="" /></a>
            <a href="#"><img src="img/icon/cart.png" alt="" /> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div> -->
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free , 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <!-- <a href="#">Sign in</a>
                                <a href="#">null</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a class="navbar-brand logo-size" href="/home"><img src="assets/logos/thriftedkicks.png"
                                alt="Thriffy" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/home">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li> <a href="#">About Us</a> </li>

                            <% if(typeof user !=='undefined' ) { %>
                                <li><a href="/account">Account</a></li>
                                <% } else { %>
                                    <li><a href="/login">SignIn</a></li>
                                    <% } %>


                                        <li>
                                            <% if(typeof user !=='undefined' ) { %>
                                                <a id="" class="cursor_cart" href="/cart">Cart <img src="assets/icon/cart.png" alt="" /></a>
                                                <% } else { %>
                                                    <a class="cartButton cursor_cart">Cart <img src="assets/icon/cart.png"
                                                            /></a>
                                                    <% } %>
                                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="assets/icon/search.png" alt="" /></a>
                        <a href="/wishlist"><img src="assets/icon/heart.png" alt="" /></a>
                        <a href=""><img src="assets/icon/cart.png" alt="" /> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <!-- <section class="hero">
        <img src="assets/hero/hero-1.jpg">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg">

                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>
                                    A specialist label creating luxury essentials. Ethically crafted
                                    with an unwavering commitment to exceptional quality.
                                </p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section> -->
    <!-- Hero Section End -->

    


    <!-- Product Section Start -->
    <div class="container">
        <div class="row">
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-8">
                        <form class="form-inline my-2 my-lg-0">
                            <div class="input-group border" style="height: 43px;">
                                <input class="form-control ms-5" type="text" placeholder="Search Products" name="search"
                                    style="width: 700px;">
                                <div class="input-group-append ">
                                    <button class="btn btn-primary " type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <% if(products.length > 0) {
                        for(let i = 0; i < products.length; i++) { %>
            
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="card m-3" style="width: 15rem; height: 26rem;">
                                    <a href="/productView?id=<%=products[i]._id %>">
                                        <img src="<%= products[i].image.path1 %>" class="card-image" alt="">
                                    </a>
                                    <div class="card-body">
                                        <span class="text-center">
                                            <a href="/productView?id=<%=products[i]._id %>">
                                                <%= products[i].productName %>
                                            </a>
                                        </span>
                                        <span class="card-text">
                                            <!-- <%= products[i].category_id.categoryName %> -->
                                        </span>
                                        <h6>₹<%= products[i].actualPrice %>/-</h6>
                                        <!-- <h6 class="text-center"><%= products[i].size %></h6> -->
                                        <br>
                                        <button data-product-id="<%= products[i]._id %>"
                                            class="btn addtocart-button <% if(typeof user !=='undefined'){ %>addtoCartButton <% }else{%> cartButton <%}%>">Add
                                            to Cart</button>
                                        <!-- <button class="btn btn-dark  buy-button cartButton">Buy Now</button> -->
                                    </div>
                                </div>
                            </div>
            
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- pagination -->
    <div class="container ">
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <% for (let i=1; i <=totalPages; i++) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </nav>
        </div>
    </div>


    <!-- Product Section End -->


    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="assets/banner/banner-1.jpg" alt="" />
                        </div>
                        <div class="banner__item__text">
                            <h2>New Thrifted Collections</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="assets/banner/banner-2.jpg" alt="" />
                        </div>
                        <div class="banner__item__text">
                            <h2>Sneakers</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="assets/banner/banner-3.jpg" alt="" />
                        </div>
                        <div class="banner__item__text">
                            <h2>Shoes Spree</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->








<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here....." />
            </form>
        </div>
    </div>
    <!-- Search End -->
    <div class="modal fade" id="loginSignupModal" tabindex="-1" role="dialog" aria-labelledby="loginSignupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 600px">
            <div class="modal-content" style="background-color: #302e2e; color: #fff">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="loginSignupModalLabel">
                        Login or Sign Up
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="color: #fff">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- modal staring -->
                <div class="modal-body text-center">
                    <p style="color: #fff">
                        Welcome to our website! To access Cart and other features, please log
                        in or sign up.
                    </p>
                </div>
                <div class="modal-footer">
            
                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/register" class="btn btn-info">Sign Up</a>
                </div>
            </div>
        </div>
    </div>



    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        
        document.querySelectorAll(".addtoCartButton").forEach(function (button) {
            button.addEventListener("click", addtoCart)
        })

        async function addtoCart() {
            const prodId = this.getAttribute("data-product-id");
            const response = await fetch(`/api/addtoCart/${prodId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                
            })
            if (!response.ok) {
                throw new Error("Failed to fetch data");
            }
            const data = await response.json()
            console.log(data.message);

        }

    </script>
    <%- include('../layouts/footer.ejs')%>