<%- include('../layouts/header.ejs')%>




 <!-- Header Section Begin -->
 <header class="header">
     <div class="header__top">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6 col-md-7">
                     <div class="header__top__left">
                         <p>Free shipping, 30-day return or refund guarantee.</p>
                     </div>
                 </div>
                 <div class="col-lg-6 col-md-5">
                     <div class="header__top__right">
                         <div class="header__top__links">
                     
                         </div>

                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="container">
         <div class="row">
             <div class="col-lg-3 col-md-3">
                 <div class="header__logo">
                     <a class="navbar-brand logo-size" href="/home"><img src="assets/logos/thriftedkicks.png" alt="Thriffy" /></a>
                 </div>
             </div>
     
             <div class="col-lg-6 col-md-6">
                 <nav class="header__menu mobile-menu">
                     <ul>
                         <li><a href="/home">Home</a></li>
                         <li><a href="/shop">Shop</a></li>
                         <li><a href="#">About Us</a>
                             <ul class="dropdown">
                                 <li><a href="./about.html">About Us</a></li>
                                 <li><a href="./shop-details.html">Shop Details</a></li>
                                 <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                 <li><a href="./checkout.html">Check Out</a></li>
                                 <li><a href="./blog-details.html">Blog Details</a></li>
                             </ul>
                         </li>
                         <% if(typeof user !=='undefined' ) { %>
                             <li><a href="/account">Account</a></li>
                             <% } else { %>
                                 <li><a href="/login">SignIn</a></li>
                                 <% } %>
                                 <li>
                                     <% if(typeof user !=='undefined' ) { %>
                                         <a class="cursor_cart" href="/cart">
                                             <div class="cart-icon"> <i class="fas fa-shopping-cart"></i>  <span class="badge" id="badge"><%if(typeof cart !=='undefined' && cart?.products?.length > 0){%><%=cart?.products?.length%><%}else{%><%}%></span></div>

                                         </a>
                                         
                                         <% } else { %>
                                             <a class="cartButton cursor_cart"><span>Cart</span> <span style="vertical-align: -4px;" class="material-symbols-outlined">
                                                 shopping_cart
                                                 </span></a>
                                             <% } %>
                                 </li>
                     </ul>
                 </nav>
             </div>
             <div class="col-lg-3 col-md-3">
                 <div class="header__nav__option">
                 
                    <a class="text-bold text-info" href="/myOrders">My orders</a>
                     <a href="/wishlist"><img src="assets/icon/heart.png" alt=""></a>
             
                 </div>
             </div>
         </div>
         <div class="canvas__open"><i class="fa fa-bars"></i></div>
     </div>
 </header>
 <!-- Header Section End -->












  <div class="border-radius-xl mx-2 mx-md-3" style="min-height: 500px;">

  <main class="main-content border-radius-lg h-100 mt-5">
      <div class="container p-4">

          <% if (typeof orders !== 'undefined' && orders.length > 0) { %>
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Ordered On</th>
                          <th scope="col">Products</th>
                          <th scope="col">Images</th>
                          <th scope="col">Details</th>
                          
                      
                      </tr>
                  </thead>
                  <tbody class="table-group-divider">
                      
                      <% for (let i = 0; i < orders.length; i++) { %>
                          <tr>
                              <td scope="row"><%= i+1 %></td>
                              <td><%= orders[i].orderDate.toString().slice(0,15) %></td> 
                              <td>
                              <% for(let j=0;j< orders[i].products.length ; j++){ %>  
                                      <%= orders[i].products[j].productId.productName %>  <br>
                              <%  }   %>
                              </td>

                                  <td>
                                  <% for(let j=0;j< orders[i].products.length ; j++){ %>  
                                    
                                        <img class="mb-2" src="<%= orders[i].products[j].productId.image.path1 %>" style="height: 70px; width: 70px; border-radius: 2px;" ><br>
                                  <%  }   %>
                                  </td>

                                  <td>
                                    <a href="/orderDetails?ordId=<%= orders[i]._id %>">   <button class="btn btn-light orderBtn" >View order</button>   </a> <br>
                                    
                                  </td>
                      
                          </tr>
                      <% } %>
                      
                  </tbody>
              </table>
          <% } %>
          

      </div>
      </main>

</div>












  <!-- Footer Section Begin -->
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src=" " alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="  " alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

  <%- include('../layouts/footer.ejs')%>