<%- include('../layouts/header.ejs')%>


    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <!-- <a href="#">Sign in</a>
            <a href="#">FAQs</a> -->
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="assets/icon/search.png" alt=""></a>
            <a href="#"><img src="assets/icon/heart.png" alt=""></a>
            <a href="#"><img src="assets/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a class="navbar-brand logo-size" href="/home"><img src="assets/logos/thriftedkicks.png"
                                alt="Thriffy" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li> <a href="#">About Us</a> </li>

                            <% if(typeof user !=='undefined' ) { %>
                                <li><a href="/account">Account</a></li>
                                <% } else { %>
                                    <li><a href="/login">SignIn</a></li>
                                    <% } %>


                                    <li>
                                        <% if(typeof user !=='undefined' ) { %>
                                            <a class="cursor_cart" href="/cart">
                                                <div class="cart-icon"> <i class="fas fa-shopping-cart"></i>  <span class="badge" id="badge"><%if(typeof cart !=='undefined' && cart?.products?.length > 0){%><%=cart?.products?.length%><%}else{%><%}%></span></div>

                                            </a>
                                            
                                            <% } else { %>
                                                <a class="cartButton cursor_cart"><span>Cart</span> <span style="vertical-align: -4px;" class="material-symbols-outlined">
                                                    shopping_cart
                                                    </span></a>
                                                <% } %>
                                    </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <% if(typeof user !== 'undefined'){ %>
                            <a href="/myOrders">My orders</a>
                        <%  }  %>
                        <a href="/wishlist"><img src="assets/icon/heart.png" alt="" /></a>
                        <!-- <span style="vertical-align: -6px;"class="material-symbols-outlined">
                            logout
                            </span>
                        <a class="list-group-item text-bold" href="/logout"> Logout</a> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->





    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>

                            

                            <% if(typeof cart!=="undefined" && cart.products.length> 0) { %>
                                <input type="hidden" value="<%= cart.products.length %>" id="productLength">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0;i<cart.products.length ; i++){ %>


                                        <tr>
                                            <td class="product__cart__item">
                                                <div class="cart_image">

                                                    <a href="/productView?id=<%=cart.products[i].productId._id %>">
                                                        <img class="imaage card-image"
                                                            src="<%= cart.products[i].productId.image.path1 %>" alt="">
                                                    </a>


                                                </div>
                                                <div class="product__cart__item__text">

                                                    <a href="/productView?id=<%=cart.products[i].productId._id %>">
                                                        <h6>
                                                            <%= cart.products[i].productId.productName %>
                                                        </h6>
                                                    </a>



                                                    <h6>
                                                        <%= cart.products[i].productId.size %>
                                                    </h6>

                                                    <% if(cart.products[i].productId.actualPrice === cart.products[i].productId.offerPrice ){ %>
                                                        <h5>₹ <%= cart.products[i].productId.actualPrice %> </h5>
                                                    <% }else{ %>

                                                    <h5>₹ <%= cart.products[i].productId.offerPrice %> </h5>

                                                    <% } %>

                                                </div>
                                            </td>
                                            
                                            <td class="quantity__item">
                                                <% if(typeof nostock !== 'undefined'){ %>
                                                    
                                                    <% if (cart.products[i].quantity > cart.products[i].productId.stock) { %>
                                                        <script>
                                                          document.addEventListener('DOMContentLoaded', function () {
                                                            Swal.fire({
                                                              icon: 'warning',
                                                              title: 'Stock Alert for <%= cart.products[i].productId.productName %>',
                                                              html: 'Stock available: <%= cart.products[i].productId.stock %>',
                                                              confirmButtonText: 'OK'
                                                            });
                                                          });
                                                        </script>
                                                      <% } %>
                                                    <% } %>
                                                <div class="quantity">
                                                    <div class="pro-qty-2">

                                                        
                                                        <div class="quantity-selector">
                                                            
                                                            <button class="btn btn-dark decrease"
                                                                id="decrease">-</button>

                                                            <input type="text" id="quantity"
                                                                value="<%= cart.products[i].quantity %>"
                                                                class="form-control"
                                                                data-stock="<%= cart.products[i].productId.stock %>"
                                                                prodId="<%= cart.products[i].productId._id %>"
                                                                data-index="<%=i%>"
                                                                data-price="<%= cart.products[i].productId.actualPrice === cart.products[i].productId.offerPrice ? cart.products[i].productId.actualPrice : cart.products[i].productId.offerPrice %>" readonly>

                                                            <button class="btn btn-dark inline increase"
                                                                id="increase">+</button>

                                                        </div>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                
                                            </td>
                                            <% if(cart.products[i].productId.actualPrice === cart.products[i].productId.offerPrice ){ %>
                                            <td id="price<%= i %>" class="cart__price">₹ <span class="prices">
                                                    <%= cart.products[i].quantity*cart.products[i].productId.actualPrice
                                                        %>
                                                </span>
                                            </td>
                                            <% }else{ %>
                                                <td id="price<%= i %>" class="cart__price">₹ <span class="prices">
                                                    <%= cart.products[i].quantity*cart.products[i].productId.offerPrice
                                                        %>
                                                </span>
                                            </td>
                                            <% } %>


                                            <td class="cart__close"><i
                                                    class="fa fa-close round-delete-button deleteProd"
                                                    data-prodId="<%=cart.products[i].productId._id %>"></i></td>
                                        </tr>
                                        
                                        <% } %>


                                            <!-- modal content--------- -->

                                            <div class="modal fade" id="productDelete" tabindex="-1" role="dialog"
                                                aria-labelledby="productDelete" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered"
                                                    style="max-width: 600px">
                                                    <div class="modal-content"
                                                        style="background-color: #e6e6e6; color: #ffffff">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-white" id="productDelete">

                                                            </h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-label="Close" style="color: #000000">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>


                                                        <div class="modal-body text-center">
                                                            <h5 style="color: #000000">
                                                                Are you sure you want to delete this product ?
                                                            </h5>
                                                        </div>
                                                        <div class="modal-footer">

                                                            <a data-bs-dismiss="modal"
                                                                class="btn btn-dark cancel">Cancel</a>
                                                            <a class="btn btn-danger confirm">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- modal content ending --------- -->


                                </tbody>

                                <% } else{ %>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img class="p-5" src="/assets/userside_images/empty_cart.jpg">
                                    </div>
                                    
                                    <% } %>


                        </table>

                    </div>



                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/home">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                  
                    <% if(typeof cart!=="undefined" && cart.products.length> 0) { %>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li> Subtotal 
                                
                                    <span id="subtotalAmount"><%= totalAmount %></span>
                                    <span>₹&nbsp; </span>
                                
                            <li>Total<span id="totalAmount"><%= totalAmount %></span>
                                <span>₹&nbsp; </span></li>
                        </ul>
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->



    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src=" " alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="  " alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>





    <script>
        // increment and decrement function
        const decreaseButtons = document.querySelectorAll('.decrease')
        const increaseButton = document.querySelectorAll('.increase')
        const deleteButton = document.querySelectorAll('.round-delete-button')
        const productLength = document.getElementById('productLength')
        const Plength = productLength.value
        const cartBadge = document.getElementById('badge')
        


        decreaseButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const inputTag = this.nextElementSibling;
                const quantityValue = parseInt(inputTag.value);
                const productStock = parseInt(inputTag.dataset.stock)
                const prodId = inputTag.getAttribute('prodId')
                const index = "price" + inputTag.dataset.index;
                const priceCell = document.getElementById(index)
                const priceOfProduct = inputTag.dataset.price;

                const totalAmount = document.getElementById("totalAmount")
                let numericPrice = parseInt(totalAmount.textContent);

                console.log("here it is"+numericPrice);
                

                if (quantityValue !== 1) {
                    changeQuantity(-1, prodId, inputTag, priceCell, priceOfProduct ,numericPrice);
                } else {
                    Swal.fire({
                    text:"Minimum quantity is 1 !"});
                    
                }
            })
        })

        increaseButton.forEach(function (button) {
            button.addEventListener('click', function () {
                const inputTag = this.previousElementSibling;
                const quantityValue = parseInt(inputTag.value);
                const productStock = parseInt(inputTag.dataset.stock)
                const prodId = inputTag.getAttribute('prodId')
                const index = "price" + inputTag.dataset.index;
                const priceCell = document.getElementById(index)
                const priceOfProduct = inputTag.dataset.price;

                const totalAmount = document.getElementById("totalAmount")
                let numericPrice = parseInt(totalAmount.textContent);
                
                
                if (quantityValue < productStock ) {
                    changeQuantity(1, prodId, inputTag, priceCell, priceOfProduct ,numericPrice);
                } else {
                    Swal.fire({
                    text:"Stock limit reached"});
                }
            })
        })

        async function changeQuantity(incdecValue, prodId, inputTag, priceCell, priceOfProduct ,numericPrice) {
            const response = await fetch(`/inc-dec/${prodId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ incdecValue, prodId })
            })
            if (!response.ok) {
                throw new Error("Failed to fetch data");
            }
            const data = await response.json()
            console.log(data.message);
            if (data.message) {

                inputTag.value = parseInt(inputTag.value) + incdecValue;
                priceCell.textContent = "₹ " + inputTag.value * priceOfProduct;
                changePrice(priceOfProduct , incdecValue ,numericPrice);
            }
        }


        async function changePrice(priceOfProduct , incdec ,numericPrice) {
            
            totalAmount.textContent = numericPrice + (incdec * parseInt(priceOfProduct));
            document.getElementById('subtotalAmount').textContent = totalAmount.textContent
        }



        //Deleting Cart product
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.deleteProd');
            deleteButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    const prodId = button.getAttribute('data-prodId');

                    $('#productDelete').modal('show');

                    const confirmButton = document.querySelector('.confirm');
                    confirmButton.addEventListener('click', async function () {
                        await deleteCartProduct(prodId , button);

                        $('#productDelete').modal('hide');
                    });
                });
            });
        });

        const badge = document.getElementById('badge')

        
        //FETCH of cart product delete
        async function deleteCartProduct(prodId , button) {

            const confirm = await document.querySelector(".confirm");
            const response = await fetch(`/deleteProduct/${prodId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },

            })

            if (!response.ok) {
                throw new Error("Failed to fetch data");
            }
            
            // const productTotal = button.parentElement.parentElement.querySelector('.cart__price').querySelector('.prices').textContent.trim()
            // const totalAmountElem = document.getElementById("totalAmount")
            // const totalAmount = parseInt(totalAmountElem.textContent)

            // const subTotalAmt = document.getElementById('subtotalAmount')
            // console.log(totalAmount);
            // console.log(productTotal);
            
            // totalAmountElem.textContent = totalAmount - productTotal
            const data = await response.json()
            if (data.message) {    
                
            console.log('Hello');

                // Swal.fire({
                //     text: data.message,
                // });
            
            }
            if (data.length) {
            
                badge.textContent = data.length
                badge.classList.add('jumping')
                setTimeout(() => {
                    badge.classList.remove('jumping')
                }, 500)
                
            }else{
                location.reload()
            }
            button.parentElement.parentElement.remove()
        }


    </script>




    <%- include('../layouts/footer.ejs')%>