<%- include('../layouts/header.ejs')%>


 <!-- Page Preloder -->
 <!-- <div id="preloder">
    <div class="loader"></div>
  </div> -->



    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <!-- <a href="#">Sign in</a>
              <a href="#">FAQs</a> -->
            </div>

        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="assets/icon/search.png" alt=""></a>
            <a href="#"><img src="assets/icon/heart.png" alt=""></a>
            <a href="#"><img src="assets/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <!-- <a href="#">Sign in</a>
                              <a href="#">FAQs</a> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a class="navbar-brand logo-size" href="/home"><img src="assets/logos/thriftedkicks.png" alt="Thriffy" /></a>
                    </div>
                </div>
        
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="#">About Us</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <% if(typeof user !=='undefined' ) { %>
                                <li><a href="/account">Account</a></li>
                                <% } else { %>
                                    <li><a href="/login">SignIn</a></li>
                                    <% } %>
                                    <li>
                                        <% if(typeof user !=='undefined' ) { %>
                                            <a class="cursor_cart" href="/cart"><span>Cart</span> <span style="vertical-align: -4px;" class="material-symbols-outlined">
                                                shopping_cart
                                                </span></a>
                                            <% } else { %>
                                                <a class="cartButton cursor_cart"><span>Cart</span> <span style="vertical-align: -4px;" class="material-symbols-outlined">
                                                    shopping_cart
                                                    </span></a>
                                                <% } %>
                                    </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="assets/icon/search.png" alt=""></a>
                        <a href="/wishlist"><img src="assets/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="assets/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">

                        <!-- search bar Begin-->
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search..." name="search">
                                <button class="btn" type="submit">Search</button>
                            </form>
                        </div>

                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><a href="?search=boots">Boots</a></li>
                                                    <li><a href="?search=Loafers">Loafers</a></li>
                                                    <li><a href="?search=Sneakers">Sneakers</a></li>
                                                    <li><a href="?search=Canvas">Canvas</a></li>
                                                    <li><a href="?search=Sports">Sports</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="?search=Nike">Nike</a></li>
                                                    <li><a href="?search=Puma">Puma</a></li>
                                                    <li><a href="?search=Adidas">Adidas</a></li>
                                                    <li><a href="?search=NewBalance">NewBalance</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <ul>
                                                    <li><a href="?search=uk-5">UK-5</a></li>
                                                    <li><a href="?search=uk-5.5">UK-5.5</a></li>
                                                    <li><a href="?search=uk-7">UK-7</a></li>
                                                    <li><a href="?search=uk-7.5">UK-7.5</a></li>
                                                    <li><a href="?search=uk-8.5">UK-8.5</a></li>
                                                    <li><a href="?search=uk-9">UK-9</a></li>
                                                    <li><a href="?search=uk-10">UK-10</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-9">
                    <div class="row">
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="img/icons/heart.png" alt=""></a></li>
                                        <li><a href="#"><img src="img/icons/compare.png" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="img/icons/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Piqué Biker Jacket</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>$67.24</h5>
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                     -->


 <!-- Product Section Start -->
 <div class="container">
    <div class="row">
       
  <% if(products.length>0){
    for(let i=0;i<products.length ;i++){  %>
         
        
         <div class="col-lg-4" >
           
            
            <div class="card m-3 " style="width: 15rem; height:30rem">
                <a href="/productView?id=<%=products[i]._id %>">
                    <img src="<%= products[i].image.path1 %>" class="card-image"
                        alt="">
                </a>
                <div class="card-body">
                    <h6>
                        <a href="/productView?id=<%=products[i]._id %>">
                            <%= products[i].productName %>
                        </a>
                    </h>
                    <p class="card-text">
                        <%= products[i].category_id.categoryName %>
                    </p>
                    <h5>₹<%= products[i].actualPrice %>/-</h5>
                    <h6><%= products[i].size %></h6>
                    <br>
                    <button data-product-id="<%= products[i]._id %>"
                        class="btn addtocart-button <% if(typeof user !=='undefined'){ %>addtoCartButton <% }else{%> cartButton <%}%>">Add
                        to Cart</button>
                    <!-- <button class="btn btn-dark  buy-button cartButton">Buy Now</button> -->
                    
                </div>
          </div>
          
        </div>
 
  <%  }  %>
<%  }  %> 
</div>
</div>
</div>
</div>

<!--Pagination starts-->
<div class="container ">
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>
 <!--Pagination ends--> 

    
    </div>
    </div>
    </div>
    
    </section>
     <!-- Footer Section Begin -->
     <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src=" " alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="  " alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>



    <!-- modal for cart -->
    <div class="modal fade" id="loginSignupModal" tabindex="-1" role="dialog" aria-labelledby="loginSignupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 600px">
            <div class="modal-content" id="myModal" style="background-color: #302e2e; color: #fff">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="loginSignupModalLabel">
                        Login or Sign Up
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="color: #fff">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- modal staring -->
                <div class="modal-body text-center>
                    <p style="color: #fff">
                        Welcome to our website! To access Cart and other features, please log
                        in or sign up.
                    </p>
                </div>
                <div class="modal-footer">
                    <!-- <button   type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        style="background-color: #000; color: #fff">
                        Close
                    </button> -->
                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/register" class="btn btn-info">Sign Up</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.querySelectorAll(".addtoCartButton").forEach(function (button) {
            button.addEventListener("click", addtoCart)
        })

        async function addtoCart() {
            const prodId = this.getAttribute("data-product-id");
            // const dataToSend ={"name":"nazim"}
            const response = await fetch(`/api/addtoCart/${prodId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                // body: JSON.stringify(dataToSend)
            })
            if (!response.ok) {
                throw new Error("Failed to fetch data");
            }
            const data = await response.json()
            console.log(data.message);

        }

    </script>




    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  

    <%- include('../layouts/footer.ejs')%>